# Python virtual environment
venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter / IPython
.ipynb_checkpoints/

# Results / outputs
results/

# Dataset folders anywhere in repo
**/dataset/

# OS files
.DS_Store
Thumbs.db
